<%- include('includes/head.ejs', { title: 'Profile' }) %>
</head>
<body>
  <%- include('includes/header.ejs') %>
  <main>
    <h1>Personal profile Page</h1>
    <% if (!myPosts || myPosts.length === 0) { %>
      <p>This is your own page, <%=locals.user.email%>. Make a post and it will appear here.</p>
      <a href="/new-post" class="btn">Create new post</a>
    <% } else { %>
      <p>This is your own page, <%=locals.user.email%>. These are your posts.</p>
      <ol id="posts-list">
        <% for(const post of myPosts) { %>
          <%- include("includes/post-item", {post: post}) %> 
        <% } %>
      </ol>
    <% } %>
  </main>
</body>
</html>